@media (max-width: 670px){
  .wrap {
    width: 100%;
  }
  .link-btn {
    padding: 16px 40px;
    font-size: 0.8rem;
  }
  header {
    width: 100%;
  }
  .contents {
    width: 100%;
  }

  body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
  .company {
    z-index: 100;
    padding-top: 152px;
    display: flex;
    justify-content: flex-end;
    margin-right: -64px;
  }
   .copy-size p {
    font-size: 1rem;
  }
  .copy-size h1 {
    font-size: 3rem;
  }
  .logo {
    width: 50%;
    margin-left: 24px;
  }
/* アイコンがクリックされたらメニューを表示 */
#drawer-check:checked ~ .drawer-content {
  left: 20%;/* メニューを画面に入れる */
}
/* メニューのデザイン*/
.drawer-content {
  width: 80%;
}
.drawer-item {
  font-size: 1.5rem;
}
ul {
  padding-inline-start: 0px;
}
  .menu {
    margin-right: 32px;
    font-size: 10px;
  }
  .drawer-open {
    right: 32;
}
  .about h2,.photos h2,.latest-size h2,.recruit h2 {
    font-size: 1.5rem;
  }
  .about p,.photos p,.news,.recruit p {
    font-size: 0.9rem;
  }

  /*about*/
  .about-img {
    width: 100%;
    padding: 80px 0;
    margin-top: 104px;
  }
  .about {
    padding: 32px 16px;
    width: 80%;
  }
  .photos {
    margin-top: 0;
  }

  /*latest topics*/
  .latest-topics {
    height: 90%;
  }
  .about h2, .works h2,.recruit h2 {
    margin-top: 40px;
  }
  .latest-size h2 {
    margin-top: 64px;
  }
  .culture h2 {
    margin-top: 0;
  }
   .btn {
    margin-bottom: 56px;
  }
  .topics {
    margin: 0 auto;
    width: 100%;
  }
  /*contact*/
  .recruit h2{
    margin-bottom: 32px;
  }
  .recruit-img img{
    width: 100%;
    padding: 0;
  }
}
